@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpaceMono'; 
  src: url('/fonts/SpaceMono.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal;
}

html {
  font-family: 'SpaceMono', monospace; 
}


::-webkit-scrollbar {
    width: 6px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #000; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  